.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: rgba(30, 30, 30, 0.6);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 3 / 1;
    text-align: center;
    transition: transform 0.3s ease;
    min-height: 100px;
}

.project-card:hover {
    transform: scale(1.02);
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    flex-grow: 1;
}

.repo-button {
    background-color: white;
    border: none;
    color: #0A0B0B;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: none;
}

.repo-button:hover {
    background-color: #0A0B0B;
    color: white;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tech-icon {
    width: auto;
    max-width: 80px;
    height: auto;
    flex-grow: 0;
    margin: 2px;
    margin-top: 5px;
    min-width: 15px;
    max-height: 25px;
}

@media (max-width: 600px) {
    .project-card {
        aspect-ratio: auto;
        min-height: 200px;
    }
}