.sendEmailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0e0e0e;
}

.sendEmailContent {
    background-color: #1b1b1b;
    border-radius: 5%;
    padding: 20px;
    margin-top: 6%;
    width: 40%;
    color: #e4e4e4;
}

.sendEmailButton {
    background-color: #0077B5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sendEmailInput, .sendEmailTextarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    color: #e4e4e4;
}

.sendEmailButton:hover {
    background-color: #004466;
}

@media only screen and (max-width: 600px) {
    .sendEmailContent {
        width: 75%;
    }

    .sendEmailButton {
        font-size: 1em;
    }
}
