.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(20deg, #0e0e0e, #1b1B1B, #0077B5);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 75% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.middle {
  display: flex;
  width: 40%;
  height: 80%;
  background-color: #1b1b1b;
  border-radius: 5%;
    margin-top: 6%;
}

.headerText {
    color: #e4e4e4;
    font-size: 2em;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 25%;
    padding: 0;
}

.aboutMe {
    color: #e4e4e4;
    font-size: 1.2em;
   margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

.basicText {
    color: #e4e4e4;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.textSection {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.mailSection{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.contactInfo {
    margin-top: 27%;
    margin-bottom: 5%;
}

.spaceDivider{
    height: 150px;
}

.disableUserSelect {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari/Chrome browser */
    -moz-user-select: none; /* Firefox browser */
    -ms-user-select: none; /* IE/Edge browser */
}

.button {
    scale: 260%;
    background-color: transparent;
    border: none;
    color: #0077B5;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin-left: 17%;
    outline: none;
    transition: color 0.1s, transform 0.1s;
}

.button:hover {
    color: #004466;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .button {
        scale: 150%;
        margin-left: 15%;
    }

    .middle {
        margin-top: 4%;
        width: 75%;
    }
}