.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
    background-size: 100% 100%;
    background-image: linear-gradient(to bottom right, #0e0e0e, #1b1b1b);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    position: fixed; /* eller 'absolute', afhængigt af dit layout */
    right: 0; /* Juster denne værdi for at kontrollere afstanden fra højre kant */
    top: 50%; /* Centrerer elementet vertikalt, juster efter behov */
    transform: translateY(-50%); /* Sikrer at elementet er centreret fra dens midtpunkt */
    width: 200px; /* Angiv en fast bredde */
}

.middle {
  display: flex;
  width: 40%;
  height: 80%;
  background-color: #1b1b1b;
  border-radius: 5%;
    margin-top: 6%;
}

.headerText {
    color: #e4e4e4;
    font-size: 6em;
    font-weight: bold;
    margin-right: 25%;
    padding: 0;
}

.subHeaderText {
    color: #e4e4e4;
    font-size: 4em;
    font-weight: bold;
    margin-right: 25%;
    padding: 0;
}

.aboutMe {
    color: #e4e4e4;
    font-size: 1.2em;
    margin-top: 1%;
    margin-right: 10%;
}

.basicText {
    color: #e4e4e4;
    font-size: 1.2em;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 3;
}

.textSection, .mailSection {
    width: 95%; /* Adjust width if necessary for your design */
    margin: 0 auto 100px; /* Add bottom margin for spacing */
    padding: 50px 0; /* Add padding for visual separation */
    transition: transform 0.2s ease-out; /* Smooth transition for any hover effects */
}

.spaceDivider{
    height: 150px;
}

.disableUserSelect {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari/Chrome browser */
    -moz-user-select: none; /* Firefox browser */
    -ms-user-select: none; /* IE/Edge browser */
}

.button {
    scale: 260%;
    min-height: 0;
    min-width: 0;
    background-color: transparent;
    border: none;
    color: #0077B5;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin-top: 35%;
    outline: none;
    transition: color 0.1s, transform 0.1s;
}

.button:hover {
    color: #004466;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .button {
        scale: 200%;
        margin-left: 15%;
    }

    .middle {
        margin-top: 6%;
        width: 75%;
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        position: static;
        margin-top: 2px;
        width: 100%;
        top: auto;
        transform: none;
    }

    .basicText {
        color: #e4e4e4;
        font-size: 1em;
        margin-top: 3%;
        margin-left: 7%;
        margin-right: 7%;
        line-height: 1;
    }
}